.main-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

.heading {
    font-size: 32px;
    margin-bottom: 20px;
}

.sub-heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.input-name {
    width: 250px;
    margin: 0 auto 10px;
    font: inherit;
    font-size: 20px;
    padding: 5px;
}

